.App {
  text-align: center;
}


.App-header {
 height: 150px;
 padding: 20px;
}
.tile {
  height: 150px;
  width: 150px;
  margin: 10px;
  background: rgba(143, 163, 28, 0.699);
  float: left;
  font-size: 11px;
  text-align: left;
}
.App-link {
  color: #61dafb;
}

